
# Java / Maven

backend/target/
*.class
*.jar
*.war
*.ear

# Maven wrapper logs
.mvn/wrapper/maven-wrapper.jar


# Node / React

frontend/node_modules/
frontend/dist/
frontend/.vite/


# IDE

.vscode/
.idea/
*.iml


# OS

.DS_Store
Thumbs.db


# Logs

*.log
logs/


# Environment Variables

.env
.env.*


# Temporary Files

*.tmp
*.swp